.dialog{
    position: absolute;
    z-index: 100;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    transform-origin: center center;

    /* display: flex;
    align-items: center;
    justify-content: center; */

    height: min(100%, 75rem);
    width: min(100%, 45rem);

    background-color: var(--background-colour);

    border-left: .1rem solid var(--low-light-gray);
    border-right: .1rem solid var(--low-light-gray);

    /* border: .1rem solid var(--low-light-gray); */

    /* border-radius: .5rem; */


    overflow: hidden;
}








/* .dialog::backdrop{
    background-color: rgba(0, 0, 0, .5);
} */


.dialog[data-animation-opening="true"]{
    animation: openDialog .4s ease forwards;
}

/* .dialog[data-animation-opening="false"]{
    animation: closeDialog .2s ease forwards;
} */

.dialog[data-animation-opening="true"]::backdrop{
    animation: openBackdrop .4s ease forwards;
}

/* .dialog[data-animation-opening="false"]::backdrop{
    animation: closeBackdrop .2s ease forwards;
} */


@keyframes openDialog {
    from{
        transform: translate(-50%, -50%) scale(0);
    }
    to{
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes closeDialog {
    from{
        transform: translate(-50%, -50%) scale(1);
    }
    to{
        transform: translate(-50%, -50%) scale(0);
    }
}

@keyframes openBackdrop {
    from{
        background-color: rgba(0, 0, 0, 0);
    }
    to{
        /* background-color: rgba(0, 0, 0, .4); */
        background-color: rgba(0, 0, 0, .5)
    }
}

@keyframes closeBackdrop {
    from{
        /* background-color: rgba(0, 0, 0, .4); */
        background-color: rgba(0, 0, 0, .5)
    }
    to{
        background-color: rgba(0, 0, 0, 0);
    }
}













