.outerContainer{
    flex-shrink: 0;

    width: 100%;
    /* height: 20rem; */

    overflow: hidden;

    display: flex;
    column-gap: 1rem;

    padding: 1rem;

    border-bottom: .1rem solid var(--low-light-gray);

    .leftImgContainer{
        flex-shrink: 0;

        width: 6rem;
        height: 100%;

        display: flex;
        align-items: flex-start;
        justify-content: center;
        


        .imgContainer{

            width: 100%;
            aspect-ratio: 1;

            overflow: hidden;

            border-radius: 50%;




            img{
                width: 100%;
                height: 100%;

                object-fit: cover;
            }
        }

    }


    .rightContentContainer{
        flex: 1 1 0;

        height: 100%;

        display: flex;
        flex-direction: column;
        row-gap: .8rem;

        overflow: hidden;


        .usernameAndDateContainer{
            flex-shrink: 0;

            /* font-size: 1.5rem; */



            display: flex;
            align-items: center;
            justify-content: flex-start;
            column-gap: 1rem;

            overflow: hidden;



            & > p{
                flex-shrink: 0;

                display: inline;

                white-space: nowrap;
                text-overflow: ellipsis;

                overflow: hidden;
            }

            .username{
                flex: 1 1 0;

                flex-shrink: 1;
            }
        }

        .contentContainer{
            flex-shrink: 0;

            width: 100%;

            display: flex;
            flex-direction: column;
            row-gap: 1rem;

            .imgOrGifContainer{
                position: relative;
            
                flex-shrink: 0;

                width: 100%;
            
            
                height: 20rem;
            
                overflow: hidden;
            
                img{
                    height: 100%;
                    width: 100%;
            
                    object-fit: contain;
                    object-position: top left;
            
                }
            }


        }

        .likeReplyContainer{

        }

    }

}


.likeReplyContainer{
    --btn-container-width: 10rem;
    --btn-container-padding: 0rem 0rem;
    --btn-column-gap: 1rem;
    --btn-transition: .2s linear background-color;
    --btn-border-radius: .5rem;

    --btn-text-svg-transform: scale(1.15);
    --btn-text-svg-transform-transition: .2s linear transform;
    --btn-svg-container-height: 60%;


    flex-shrink: 0;

    height: 5rem;
    width: 100%;

    /* border-bottom: .1rem solid white;
    border-top: .1rem solid white; */

    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 2rem;


    padding: 0 var(--main-content-side-padding);
    
}


.likesContainer,
.repliesContainer,
.commentContainer{
    /* border-left: .1rem solid white;
    border-right: .1rem solid white; */
    
    cursor: pointer;
    
    flex-shrink: 0;
    
    width: var(--btn-container-width);
    height: 100%;
    

    fill: white;

    
}





.repliesContainer,
.commentContainer{
    /* will-change: padding; */

    padding: var(--btn-container-padding);
    
    display: flex;
    column-gap: var(--btn-column-gap);
    align-items: center;
    justify-content: center;
    
    transition: var(--btn-transition);
    
    border-radius: var(--btn-border-radius);

    .btnSVGContainer{

        overflow: hidden;

        height: var(--btn-svg-container-height);
        aspect-ratio: 1;

        display: flex;
        align-items: center;
        justify-content: center;

        /* border-radius: 50%; */

        /* padding: 1rem; */


        transition: var(--btn-text-svg-transform-transition);

        svg{
            width: 100%;
            height: 100%;


            object-fit: contain;
        }
    }


    & > p{
        font-size: 1.5rem;

        transition: var(--btn-text-svg-transform-transition);
    }
}


.repliesContainer:hover{
    background-color: rgba(0, 132, 255, 0.2);



}

.commentContainer:hover{
    background-color: rgba(127, 255, 212, 0.2);
}


.repliesContainer:hover,
.commentContainer:hover{

    /* p{
        transform: var(--btn-text-svg-transform);
    } */

    .btnSVGContainer{
        transform: var(--btn-text-svg-transform);

    }
    
}