

.navLink{
    cursor: pointer;

    width: 100%;
    /* height: 100%; */
    aspect-ratio: 1;

    border-radius: 50%;

    overflow: hidden;

    padding: 1.3rem;

    /* background-color: blue; */

    transition: .2s linear background-color, fill .2s linear;


    svg{
        width: 100%;
        height: 100%;

        object-fit: contain;
    }
}


.navLink.thinScreen{
    width: auto;
    height: 95%;

}



.activeLink{
    background-color: rgba(255, 255, 255, 0.2);
}


.inActiveLink{
    fill: var(--low-light-gray);
}

.inActiveLink:hover{
    fill: white;

    background-color: rgba(255, 255, 255, 0.2);
}