.outerContainer{
    flex-shrink: 0;

    height: 100%;
    width: var(--aside-bar-width);

    overflow: hidden;


    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3rem;

    padding: 2rem 1rem;

    fill: white;

    border-left: .1rem solid var(--low-light-gray);
    border-right: .1rem solid var(--low-light-gray);
}


.topContainer{
    flex-shrink: 0;

    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;


    overflow: hidden;
}

.searchOuterContainer{
    flex-shrink: 0;

    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;


    overflow: hidden;
}

.middleContainer{
    flex: 1 1 0;

    width: 100%;

    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: .8rem;
}

.lowerContainer{
    flex-shrink: 0;

    width: 100%;
    aspect-ratio: 1;

    align-self: flex-end;

    overflow: hidden;

    border-radius: 50%;
    
}







.navLink{
    cursor: pointer;

    width: 100%;
    /* height: 100%; */
    aspect-ratio: 1;

    border-radius: 50%;

    overflow: hidden;

    padding: 1.3rem;

    /* background-color: blue; */

    transition: .2s linear background-color, fill .2s linear;


    svg{
        width: 100%;
        height: 100%;

        object-fit: contain;
    }
}

.imgNavLinkContainer{

    width: 100%;
    height: 100%;

    

    padding: 0;

    overflow: hidden;

    img{
        width: 100%;
        height: 100%;

        object-fit: cover;

    }
}


.activeLink{
    background-color: rgba(255, 255, 255, 0.2);
}


.inActiveLink{
    fill: var(--low-light-gray);
}

.inActiveLink:hover{
    fill: white;

    background-color: rgba(255, 255, 255, 0.2);
}