.outerContainer {
    position: relative;

    flex: 1 1 0;

    display: flex;
    flex-direction: column;

    overflow: hidden;
}

.asideHomeSelectionContainer{
    position: absolute;

    top: 1rem;
    right: 2.5rem;

    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    width: var(--aside-bar-width);

    overflow: hidden;

    background-color: var(--background-colour);

    padding: 1rem;

    border: .1rem solid var(--low-light-gray);

    border-radius: 4rem;


}


.listScrollContainer {

    flex: 1 1 0;

    /* height: 100%; */
    /* max-width: 40rem; */

    width: 100%;


    overflow-y: auto;

    display: flex;
    flex-direction: column;



    /* border: .1rem solid white; */
}


.posts {
    flex-shrink: 0;

    border: .1rem solid white;

    width: 100%;
    height: 40rem;


}