.outerContainer{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;

}

.innerContainer {
    --padding: 2rem;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    flex: 1 1 0;
    height: 100%;

    max-width: var(--content-max-width);

    overflow: hidden;
}

.innerContainer.thinScreen{
    max-width: 100%;
}


.form {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 2rem;


}

.form.thinScreen {
    flex-direction: column;
    row-gap: 2rem;

    padding-bottom: 2rem;
}






.imgContainer {


    position: relative;


    flex: 1 1 0;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    backdrop-filter: blur(5px);
    



    overflow: hidden;

    /* border: .1rem solid orange; */

    padding: 2rem;

    background-image: url("../../../assets/cube-night-sky.jpg");
    background-repeat: repeat;
    
    animation: moveBackgroundPosition 130s linear alternate infinite;

    border-right: .1rem solid var(--inactive-input-colour);
    border-left: .1rem solid var(--inactive-input-colour);
}

@keyframes moveBackgroundPosition {
    0%{
        background-position: 0% 50%;
    }
    25%{
        background-position: 50% 100%;
    }
    50%{
        background-position: 100% 50%;
    }
    75%{
        background-position: 50% 0%;
    }
    100%{
        background-position: 0% 50%;
    }
}


.imgContainer.thinScreen {
    flex: 0 0 auto;
    /* flex-shrink: 0; */
    width: 100%;

    height: 13rem;

    border-right: 0rem solid var(--inactive-input-colour);
    border-left: 0rem solid var(--inactive-input-colour);

    border-top: .1rem solid var(--inactive-input-colour);
    border-bottom: .1rem solid var(--inactive-input-colour);
}













.textInputsContainer {
    flex: 1 1 0;

    min-width: 30rem;
    /* max-width: 50rem; */


    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    row-gap: 1.6rem;

    padding: 3rem 3rem;


    overflow-y: auto;

}


.textInputsContainer.thinScreen {
    width: 100%;
    max-width: 50rem;

    padding: 2rem 3rem;

}



.title {
    /* flex: 1 1 0; */
    flex-shrink: 0;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: flex-end;

    font-size: 4rem;
    font-weight: bold;

    height: 8rem;
}


.errorsContainer {
    width: 100%;
    /* flex: 1 1 0; */
    flex-shrink: 0;

    min-height: 0;
    max-height: 10rem;
    height: auto;


    display: flex;
    flex-direction: column;
    row-gap: .5rem;

    overflow-y: auto;



    .errorMessage {
        flex-shrink: 0;

        width: 100%;


        /* overflow: hidden; */


        background-color: var(--submit-pink-btn-bcg);


        padding: .5rem 1rem;

        min-height: 1.5em;



        border-radius: .2rem;





        color: red;
    }
}


.inputGroupContainer {
    width: 100%;
    

    flex: 1 1 0;
    /* min-height: 29.3rem; */
    min-height: 30rem;
    max-height: 40rem;



    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 1rem;


}


.bottomContainer {
    width: 100%;
    /* flex: 2 1 0; */

    flex-shrink: 0;

    display: flex;

    align-items: flex-end;
    justify-content: center;

    row-gap: 1rem;
}





.inputGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;

    width: 100%;
    
}

.inputGroup label {
    margin-bottom: 1rem;
}

.inputGroup input {
    padding: 1.8rem 0;
    padding-left: 1.6rem;

    font-size: 1.6rem;



    border-radius: 3rem;

    background-color: var(--inactive-input-colour);

    color: black;

    border: .2rem solid var(--inactive-input-colour);

    transition: border .2s linear;
}

.inputGroup input::placeholder {
    font-size: 1.4rem;
}

.inputGroup input:focus{
    border: .2rem solid var(--active-btn-colour);
}


.submitBtnContainer{
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 3rem;

    overflow: hidden;
    
    margin-top: 2rem;
    
    background: var(--dark-blue);

    height: 4.3rem;
}



.submitButton {
    width: 100%;
    height: 100%;

    background-color: transparent;

    color: white;
    border: none;
    
    font-size: 1.6rem;
    cursor: pointer;
    font-weight: bold;
    transition: 0.25s;
}

.submitButton:hover {
    background: var(--active-btn-colour);
}






.switchSignInParagraph {
    margin-top: auto;
    margin-bottom: 2rem;

    display: flex;
    column-gap: .3rem;


    text-align: center;
    font-size: 1.4rem;
    color: #727272;
}

.switchSignInParagraph a {
    color: var(--dark-blue);
    text-decoration: none;
    font-weight: bold;
    transition: 0.25s;
    text-decoration: underline;
}

.switchSignInParagraph a:hover {
    color: var(--active-btn-colour);
}



.alternateLogInContainer{
    flex-shrink: 0;

    margin: auto 0;
    /* flex-grow: 1; */

    display: flex;
    align-items: center;

    width: 100%;
    /* min-width: 30rem;
    max-width: 50rem; */

    min-height: 25rem;
}



/* .registerTitle{
    flex-grow: 0;

    margin-top: 4rem;
}



.registerErrorsContainer{
    max-height: 15rem;
} */