
.imgContainer {


    position: relative;


    flex: 1 1 0;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    backdrop-filter: blur(5px);
    



    overflow: hidden;


    padding: 2rem;

    background-image: url("../../../assets/cube-night-sky.jpg");
    background-repeat: repeat;
    
    animation: moveBackgroundPosition 20s linear alternate infinite;

}

@keyframes moveBackgroundPosition {
    from{
        background-position: 0% 0%;
    }
    to {
        background-position: 100% 100%;
    }
}