

.socialLink {
    flex-shrink: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 1.6rem;

    width: min(100%, 35rem);

    /* max-width: 100%; */
    /* height: 8rem; */

    text-decoration: none;

    border-radius: 1rem;

    cursor: pointer;

    overflow: hidden;


    padding: .8rem 1rem;
}







.svgContainer {

    flex-shrink: 0;

    height: 100%;
    aspect-ratio: 1;

    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        height: 100%;
        width: 100%;

        object-fit: contain;
    }
}





.linkTextContainer {
    flex: 1 1 0;

    display: flex;
    flex-direction: column;
    row-gap: .2rem;
    align-items: stretch;
    justify-content: center;

    overflow: hidden;
}



.username {
    flex-shrink: 0;
    min-width: 0;

    font-size: 2rem;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    color: inherit;
}


.url {
    flex-shrink: 0;

    font-size: 1.4rem;

    color: rgb(189, 189, 189);

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.socialLink:hover .url {
    text-decoration: underline;

}